<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/login" routerLinkActive="active" class="text-white"
        >Login</a
      >
    </li>
    <li>
      <a routerLink="/register" routerLinkActive="active" class="text-white"
        >Register</a
      >
    </li>
    <li>
      <a
        routerLink="/reset-password"
        routerLinkActive="active"
        class="text-white"
        >Reset Password</a
      >
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="text-white"
        >Dashboard</a
      >
    </li>
  </ul>
</nav>

<!-- The RouterOutlet directive will display the component matched by the router -->
<router-outlet></router-outlet>
