<!-- src/app/components/reset-password/reset-password.component.html -->
<div class="max-w-md mx-auto my-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6">Reset Password</h2>
  <form (ngSubmit)="resetPassword()">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
      >
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        class="mt-1 p-2 border rounded-md w-full"
        required
      />
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">
      Reset Password
    </button>
  </form>
  <p *ngIf="successMessage" class="text-green-500 mt-4">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</p>
</div>
