
  .bg-black {
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-gray-300 {
    color: #d1d5db;
  }
  
  .text-red-500 {
    color: #f56565;
  }

  .mb-2 {
    margin-bottom: 0.5rem; /* 8px */
  }

  .main-container {
    margin-bottom: 5rem; /* Adjust this value to move the container upwards */
  }