/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  height: 56px;
  overflow: visible; /* Allow content to overflow the navbar */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  overflow: hidden; /* ป้องกันไม่ให้เนื้อหาขยายออกนอกขอบ */
}

.navbar-right button,
.navbar-right .material-symbols-outlined {
  flex-shrink: 0; /* ป้องกันไม่ให้ปุ่มหรือไอคอนขยายหรือหดตัว */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 18px;
  font-weight: bold;
}

.navbar-right .material-symbols-outlined {
  font-size: 48px; /* ขนาดของไอคอน */
  max-height: 48px; /* กำหนดขนาดสูงสุด */
  max-width: 48px; /* กำหนดขนาดสูงสุด */
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

#map {
  height: calc(
    100vh - 56px
  ); /* ลดความสูงของแผนที่โดยคำนวณจากความสูงของ navbar */
  width: 100%;
  margin-top: 56px; /* เพิ่มระยะห่างจากด้านบนเพื่อให้แผนที่ไม่ถูกบัง */
}

input {
  color: black;
}

button {
  margin: 0 5px;
  padding: 10px;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 56px; /* Adjust based on your navbar height */
  right: -350px; /* Adjust based on your sidebar width */
  width: 350px; /* Adjust based on your sidebar width */
  height: calc(100vh - 56px); /* Full height minus navbar height */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease, background-color 0.3s ease;
  z-index: 1000; /* Ensure it is lower than the navbar */
  overflow-y: auto; /* Enable scrolling inside the sidebar */
  padding: 20px;
  border-left: 7px solid #046cdc; /* Add a colored border for accent */
  border-right: 7px solid #046cdc; /* Add a colored border for accent */
}

.sidebar.open {
  right: 0; /* Show the sidebar */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-content .close-button {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0;
  width: 24px;
  height: 24px;
}

.sidebar-content .close-button svg {
  width: 24px;
  height: 24px;
}

.sidebar-content h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #fff;
}

.sidebar-content label {
  margin-bottom: 5px;
  color: #ccc;
}

.sidebar-content select,
.sidebar-content input,
.sidebar-content button {
  margin-bottom: 10px;
}

.sidebar-content select {
  width: 100%; /* Fill the container's width */
  padding: 5px; /* Adjust the padding for a smaller height */
  font-size: 14px; /* Adjust the font size */
  color: #000; /* Text color */
  background-color: #f0f0f0; /* Background color */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for the select box */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.sidebar-content select:focus {
  border-color: #046cdc; /* Highlight color when focused */
  outline: none; /* Remove default outline */
}

.custom-select {
  width: 100%;
  margin-bottom: 10px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 12px !important;
  height: 36px !important; /* Adjust the height as needed */
  align-items: center !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-fill .mat-form-field-outline-end {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-outline {
  color: transparent !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-outline-thick {
  border-width: 0 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-outline-thick {
  border-width: 2px !important;
  border-color: #046cdc !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #046cdc !important;
}

::ng-deep .mat-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .mat-input-element {
  height: 28px !important; /* Adjust the input element height */
  line-height: 28px !important; /* Match the line height to the input element height */
  padding: 0 !important;
}

::ng-deep .mat-option {
  padding: 8px !important;
}

.sidebar-content .confirm-button {
  background-color: #046cdc;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-content .confirm-button:hover {
  background-color: #0056b3;
}

/* Output info styles */
.nearest-place-info,
.amenities-count-info,
.population-info,
.predict-info,
.economy-info {
  position: relative;
  padding: 16px;
  margin-bottom: 10px;
  background-color: rgba(
    51,
    51,
    51,
    0.9
  ); /* Dark semi-transparent background */
  color: #ffffff; /* White text color */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slightly darker shadow */
}

.nearest-place-info h3,
.amenities-count-info h3,
.population-info h3,
.predict-info h3,
.economy-info h3 {
  margin-bottom: 10px;
  color: #ffffff; /* White text color */
}

.nearest-place-info p,
.amenities-count-info p,
.amenities-count-info ul li,
.population-info p,
.predict-info p,
.economy-info p {
  margin-bottom: 5px;
  color: #cccccc; /* Light grey text color */
}

.output-info .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff; /* Darker background for delete button */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Slight shadow */
  color: #444444; /* White icon color */
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  color: #72bfff; /* Light blue color for toggle */
  font-size: 14px;
  text-decoration: underline;
}

.loading-indicator {
  position: relative;
  padding: 16px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 16px;
}

.predict-info-box {
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-popup .leaflet-popup-content-wrapper {
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-popup .leaflet-popup-content {
  margin: 0;
}

.custom-popup .leaflet-popup-tip {
  background: white;
}

/* Search container styles */
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-container {
  margin: 0 auto;
  width: 250px; /* Adjust the width as needed */
  position: relative; /* Change to relative to ensure the suggestions are aligned correctly */
}

.search-bar {
  position: relative; /* Position relative to container */
  display: flex;
  flex-direction: column;
}

.search-bar input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white; /* White background */
  color: black; /* Black text color */
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 100%; /* Position it directly below the input field */
  left: 0;
  width: 100%;
  z-index: 1200; /* Ensure it appears above other elements */
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: black; /* Ensure text is black */
}

.suggestions li:hover {
  background-color: #f1f1f1; /* Change the background color on hover */
}

.suggestions .icon {
  margin-right: 10px;
  color: black; /* Ensure icon is also black */
}
/* Hamburger Menu Styles */
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Adjust this value based on your navbar height */
  right: 10px; /* Align with the right edge of the navbar */
  background-color: #333; /* Dark background */
  color: white; /* White text */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  width: 210px; /* Adjust this value to control the width */
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px; /* Adjust this value to add padding on the right */
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li:hover {
  background-color: #444;
}

.mat-icon.icon {
  margin-right: 0.5rem; /* Adjust this value to control the spacing */
}

/* Styles for Custom Dropdown */
.dropdown-container {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 0.3rem;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto; /* เปิดการเลื่อน scrollbar ในแนวตั้ง */
  max-height: 226px; /* ความสูงสูงสุดที่จะเห็นได้ (7 อัน อันละ 30px) */
}

.dropdown-option {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border-bottom: 1px solid #444;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-option:hover {
  background-color: #72bfff;
}

/* Custom scrollbar styles */
.dropdown-options::-webkit-scrollbar {
  width: 6px;
  background-color: #333; /* Background color of the scrollbar track */
}

.dropdown-options::-webkit-scrollbar-thumb {
  background-color: #72bfff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Make scrollbar thumb rounded */
}

/* Optional: Adjust scrollbar thumb on hover */
.dropdown-options::-webkit-scrollbar-thumb:hover {
  background-color: #42a1ff; /* Darker color on hover */
}

.selected-option {
  font-size: 16px;
  color: #fff;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.distance-input {
  background-color: #333; /* Darker background */
  color: #ffffff; /* White text */
  border: 1px solid #666;
  padding: 10px 15px; /* Add some padding */
  border-radius: 0.375rem; /* Rounded corners */
  width: 100%; /* Full width */
  font-size: 16px; /* Match font size */
  outline: none; /* Remove default outline */
}

.distance-input:focus {
  border-color: #3b82f6; /* Blue border on focus */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* Add a subtle shadow */
}

.distance-input::placeholder {
  color: #9ca3af; /* Placeholder color */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.latlon-input {
  background-color: #333; /* Dark background */
  color: #ffffff; /* White text */
  border: 1px solid #666; /* Border color */
  padding: 10px 15px; /* Add some padding */
  border-radius: 0.375rem; /* Rounded corners */
  width: 100%; /* Full width */
  font-size: 16px; /* Match font size */
  outline: none; /* Remove default outline */
  box-sizing: border-box; /* Include padding and border in element's width and height */
}

.latlon-input:focus {
  border-color: #3b82f6; /* Blue border on focus */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* Add a subtle shadow */
}

.latlon-input::placeholder {
  color: #9ca3af; /* Placeholder color */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  transform: scale(0.65); /* ปรับค่า scale ให้ขนาดเล็กลง */
  display: inline-block; /* ให้ transform ทำงานบน inline element */
}


.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darker backdrop for professionalism */
  z-index: 9999;
}

.modal-content {
  max-height: 80vh; /* Limit modal height */
  width: 90%;
  max-width: 600px; /* Fixed width for desktop, adaptive for mobile */
  padding: 1.5rem;
  background-color: #f9f9f9; /* Lighter background for formality */
  border-radius: 10px;
  overflow-y: auto; /* Enable scrolling for long content */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Professional font */
  text-align: left; /* Align text for readability */
}

.modal-content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Darker heading */
  text-align: center; /* Center align the modal heading */
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #555; /* Softer text color for professionalism */
}


.tutorial-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays everything */
  cursor: pointer;
}

.tutorial-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Keep aspect ratio */
}

.hidden {
  display: none !important;
}

.mat-icon-help-function {
  font-size: 16px;
  vertical-align: middle; 
  margin-left: -0.5rem;
  margin-bottom: -1rem;
}

.help-content {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

