/* src/app/components/login/login.component.css */
.bg-green-100 {
  background-color: #e6ffe6;
}

.bg-opacity-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-container {
  margin-bottom: 5rem; /* Adjust this value to move the container upwards */
}