<div class="login-background">
  <!-- Waves Container -->
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>

  <div class="flex items-center justify-center w-full h-full form-container">
    <div class="flex bg-black bg-opacity-50 rounded-lg shadow-md w-full max-w-lg p-10">
      <div class="w-full">
        <div class="flex flex-col items-center">
          <h3 class="text-2xl font-bold mb-10 text-white">Sign Up</h3>
        </div>
        <form (ngSubmit)="register()" class="space-y-4 w-full">
          <div class="grid grid-cols-1 gap-4">
            <input
              [(ngModel)]="user.email"
              name="email"
              type="email"
              placeholder="Email"
              class="p-2 border rounded-md width-5-6 mx-auto mb-2 mt-2"
              required
            />
            <div class="grid grid-cols-2 gap-4 width-5-6 mx-auto mb-2">
              <input
                [(ngModel)]="user.first_name"
                name="first_name"
                type="text"
                placeholder="First Name"
                class="p-2 border rounded-md w-full"
                required
              />
              <input
                [(ngModel)]="user.last_name"
                name="last_name"
                type="text"
                placeholder="Last Name"
                class="p-2 border rounded-md w-full"
                required
              />
            </div>
            <input
              [(ngModel)]="user.password"
              name="password"
              type="password"
              placeholder="Password"
              class="p-2 border rounded-md width-5-6 mx-auto mb-2"
              required
            />
            <input
              [(ngModel)]="user.password2"
              name="password2"
              type="password"
              placeholder="Confirm Password"
              class="p-2 border rounded-md width-5-6 mx-auto"
              required
            />
          </div>
          <div class="flex justify-center mt-6">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mb-4">
              Sign Up
            </button>
          </div>
        </form>
        <p *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</p>
        <p class="mt-4 text-gray-300 text-center">
          Already have an account? <a routerLink="/login" class="text-blue-500">Login here</a>
        </p>
      </div>
    </div>
  </div>
</div>
