<div class="login-background">

  <!-- Waves Container -->
  <div>
   <svg
     class="waves"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28"
     preserveAspectRatio="none"
     shape-rendering="auto"
   >
     <defs>
       <path
         id="gentle-wave"
         d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
       />
     </defs>
     <g class="parallax">
       <use
         xlink:href="#gentle-wave"
         x="48"
         y="0"
         fill="rgba(255,255,255,0.7)"
       />
       <use
         xlink:href="#gentle-wave"
         x="48"
         y="3"
         fill="rgba(255,255,255,0.5)"
       />
       <use
         xlink:href="#gentle-wave"
         x="48"
         y="5"
         fill="rgba(255,255,255,0.3)"
       />
       <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
     </g>
   </svg>
 </div>
 
 <div class="flex items-center justify-center w-full h-full main-container">
   <div class="flex bg-black bg-opacity-50 rounded-lg shadow-md w-2/5 mx-auto my-10 p-10">
     <div class="w-full text-center">
       <h2 class="text-3xl font-bold mb-6 text-center text-white">Set New Password</h2>
       <form (ngSubmit)="setNewPassword()" class="space-y-4">
         <div>
           <label for="password" class="block text-lg font-medium text-gray-200 mb-2">New Password</label>
           <input
             [(ngModel)]="password"
             (input)="validatePassword()"
             name="password"
             type="password"
             class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
             required
           />
           <div class="mt-2 space-y-1">
             <p [ngClass]="{'text-red-500': !passwordDigitValid, 'text-green-500': passwordDigitValid}">Password must contain at least one digit.</p>
             <p [ngClass]="{'text-red-500': !passwordLengthValid, 'text-green-500': passwordLengthValid}">Password must contain at least 8 characters.</p>
             <p [ngClass]="{'text-red-500': !passwordUppercaseValid, 'text-green-500': passwordUppercaseValid}">Password must contain at least one uppercase letter.</p>
             <p [ngClass]="{'text-red-500': !passwordLowercaseValid, 'text-green-500': passwordLowercaseValid}">Password must contain at least one lowercase letter.</p>
             <p [ngClass]="{'text-red-500': !passwordSpecialCharValid, 'text-green-500': passwordSpecialCharValid}">Password must contain at least one special character.</p>
           </div>
         </div>
         <div>
           <label for="confirmPassword" class="block text-lg font-medium text-gray-200 mb-2">Confirm New Password</label>
           <input
             [(ngModel)]="confirmPassword"
             (input)="validateConfirmPassword()"
             name="confirmPassword"
             type="password"
             class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
             required
           />
           <div class="mt-2">
             <p [ngClass]="{'text-red-500': confirmPasswordError, 'text-green-500': !confirmPasswordError}">Passwords must match.</p>
           </div>
         </div>
         <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md w-full hover:bg-blue-600 transition duration-300 custom-button">Set New Password</button>
       </form>
       <p *ngIf="errorMessage" class="text-red-500 mt-4 text-center">{{ errorMessage }}</p>
       <p *ngIf="successMessage" class="text-green-500 mt-4 text-center">{{ successMessage }}</p>
     </div>
   </div>
 </div>
</div>
