<div class="max-w-md mx-auto my-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">Set New Password</h2>
  <form (ngSubmit)="setNewPassword()" class="space-y-4">
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700">New Password</label>
      <input 
        [(ngModel)]="password" 
        (input)="validatePassword()" 
        name="password" 
        type="password" 
        class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500" 
        required 
      />
      <div class="mt-2 space-y-1">
        <p [ngClass]="{'text-red-500': !passwordLengthValid, 'text-green-500': passwordLengthValid}">
          This password is too short. It must contain at least 8 characters.
        </p>
        <p [ngClass]="{'text-red-500': !passwordUppercaseValid, 'text-green-500': passwordUppercaseValid}">
          This password must contain at least one uppercase letter, A-Z.
        </p>
        <p [ngClass]="{'text-red-500': !passwordLowercaseValid, 'text-green-500': passwordLowercaseValid}">
          This password must contain at least one lowercase letter, a-z.
        </p>
        <p [ngClass]="{'text-red-500': !passwordDigitValid, 'text-green-500': passwordDigitValid}">
          This password must contain at least one digit, 0-9.
        </p>
        <p [ngClass]="{'text-red-500': !passwordSpecialCharValid, 'text-green-500': passwordSpecialCharValid}">
          This password must contain at least one special character.
        </p>
      </div>
    </div>
    <div>
      <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
      <input 
        [(ngModel)]="confirmPassword" 
        (input)="validateConfirmPassword()" 
        name="confirmPassword" 
        type="password" 
        class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500" 
        required 
      />
      <div class="mt-2">
        <p [ngClass]="{'text-red-500': confirmPasswordError, 'text-green-500': !confirmPasswordError}">
          Passwords must match.
        </p>
      </div>
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md w-full hover:bg-blue-600 transition duration-300">Set New Password</button>
  </form>
  <p *ngIf="errorMessage" class="text-red-500 mt-4 text-center">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="text-green-500 mt-4 text-center">{{ successMessage }}</p>
</div>
