/* src/app/components/set-new-password/set-new-password.component.css */
  .bg-black {
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-gray-200 {
    color: #e5e7eb;
  }
  
  .text-red-500 {
    color: #f56565;
  }
  
  .text-green-500 {
    color: #48bb78;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem; /* 8px */
  }
  
  .text-lg {
    font-size: 1.125rem; /* 18px */
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .main-container {
    margin-bottom: 5rem; /* Adjust this value to move the container upwards */
  }

  .custom-button {
    width: 50%; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the button */
  }
  